.node {
  border: 1px solid #f1f1f1;
  line-height: 16px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  cursor: pointer;
  padding: 0;
  color: #fff;
  font-size: 12px;
  background: #1f1e1d;
}
.form-control {
  height: 42px;
}
.select select {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: .75em 2.25em .75em 1em;
    line-height: 1.5;
    color: #1f1e1d;
    background-color: #f1f1f1;
    border: 2px solid transparent;
    border-radius: .25em;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.region-north-central-america {
  background: #0095cb;
}
// closing X
.ss-delete.right:after, .ss-delete:before {
    content: 'X';
}
.Treemap-value-container {
  display: inline-block;
  padding: 0 10px;
  text-align: left;
  background: #eee;
  i {
    color: #999;
  }
  .Treemap-value {
    font-size: 18px;
    font-weight: bold;
  }
}
.oda-story {
  .btn--on-light {
    background-color: #d8d8d8;
  }
}
.back-button-container {
  display: none;
}
.name {
  font-size: 15px;
  margin-top: 20px;
}
.name,
.number {
  margin-left: 10px;
}
.number {
  font-size: 15px;
  margin-top: 5px;
}
.number-2 {
  font-size: 12px;
  margin-top: 2px;
}
.name-1 {
  font-weight: bold;
  font-size: 18px;
}
.name-2 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 6px;
  margin-left: 6px;
}
.number-2 {
  margin-left: 6px;
}
.name-3 {
  font-size: 13px;
  margin-top: 2px;
  margin-left: 2px;
}
.name-4 {
  font-weight: normal;
  font-weight: 300;
  font-size: 9px;
  margin-top: 2px;
  margin-left: 2px;
  line-height: 11px;
}
.treemap:hover {
  .back-button-container {
    display: block;
  }
}
.treemap--settings-holder {
  text-align: center;
  padding-right: 80px;
  ul {
    display: inline;
    padding: 0;
  }
  .settings--item {
    list-style: none;
    display: inline-block;
    padding: 5px;
    position: relative;
    color: #999;
    font-size: 22px;
    &.active,
    &.selected {
      color: #333;
    }
  }
  &.col-md-6 {
    .settings--item {
      font-size: 15px;
    }
  }
  .settings--sort_item {
    border: 1px dotted transparent;
  }
  .settings--sort_item:hover {
    cursor: move;
    background: #fafafa;
    border: 1px dotted #ccc;
  }
  .settings--sort_item.disabled {
    cursor: default;
  }
  .drag-handle {
    position: relative;
    top: 3px;
  }
  strong {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 900;
  }
  .settings--item-level-name {
    font-size: 11px;
  }
  .select-holder {
    position: absolute;
    width: 200px;
    background: #fff;
    padding: 20px;
    z-index: 1000000;
    display: none;
    i {
      font-style: normal;
      font-weight: 700;
    }
    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
  }
}
.treemap-sentence {
  text-align: center;
  padding: 10px 50px;
}
.oda--intro {
  position: absolute;
  z-index: 2;
  height: 580px;
  background-color: #BA0C2F;
  width: 100%;
  color: white;
  padding-top: 100px;
  opacity: 1;
  transition: all ease-in 0.25s;
  display: block;
}
.region-europe {
    background: #c962c4
}
.region-north-of-sahara {
    background: #b7bf10
}
.region-south-of-sahara {
    background: #ba0c2f
}
.region-north-central-america {
    background: #0095cb
}
.region-south-america {
    background: #93328e
}
.region-middle-east {
    background: #1b365d
}
.region-south-central-asia {
    background: #32c8ff
}
.region-east-asia {
    background: #ea7600
}
.region-oceania {
    background: #32c8ff
}
.region-999,
.region-unspecified {
    background: #1f1e1d
}
.bundle-cash-loan-equity {
    background: #ba0c2f
}
.bundle-cash-grant {
    background: #b7bf10
}
.bundle-commodities-food {
    background: #0095cb
}
.bundle-gpgs-nngos {
    background: #ea7600
}
.bundle-mixed-project-aid {
    background: #93328e
}
.bundle-non-transfer {
    background: #1b365d
}
.bundle-technical-ooperation {
    background: #32c8ff
}
.bundle-export-credit {
    background: #98e4ff
}
.oof-bundle-oof-grant {
    background: #b7bf10
}
.oof-bundle-oof-loan {
    background: #ea7600
}
.oof-bundle-oof-export-credit {
    background: #98e4ff
}
.sector-education {
    background: #ba0c2f
}
.sector-health {
    background: #b7bf10
}
.sector-water-and-sanitation {
    background: #0095cb
}
.sector-governance-and-security {
    background: #ea7600
}
.sector-other-social-services {
    background: #93328e
}
.sector-infrastructure {
    background: #1b365d
}
.sector-banking-and-business {
    background: #f23a5f
}
.sector-agriculture-and-food-security {
    background: #e8ef46
}
.sector-industry-and-trade {
    background: #32c8ff
}
.sector-environment {
    background: #ffa951
}
.sector-other {
    background: #c962c4
}
.sector-general-budget-support {
    background: #3264ac
}
.sector-debt-relief,
.sector-humanitarian {
    background: #5a0617
}
.channel-public-sector-unknown {
    background: #ba0c2f
}
.channel-public-sector-donor {
    background: #b7bf10
}
.channel-public-sector-recipient {
    background: #0095cb
}
.channel-ngo-unknown {
    background: #ea7600
}
.channel-ngo-donor {
    background: #93328e
}
.channel-ngo-recipient {
    background: #1b365d
}
.channel-public-private-partnership {
    background: #f23a5f
}
.channel-multilateral {
    background: #e8ef46
}
.channel-other {
    background: #32c8ff
}
.channel-unspecified {
    background: #ffa951
}
