@import "../../theme/variables.scss";
.themes {
  a{
    padding: 0.5em;
  }
}
.main{
  margin-right: 20%;
  margin-left: 20%;
  a{
    color: $primary-black;
  }
}
.subMenu{
  background-color:  $primary-black;
}
.dropDown, .dropDown:hover, .dropDown:active,.dropDown:focus, .dropDown:visited{
  background-color: $primary-black;
  color: white;
  border-color: $primary-black;
}
