@import "../../theme/variables.scss";
.maps{
  position: relative;
  width: 100%;
}
.tooltip{
  position: absolute;
  background-color: rgba(0,0,0,.85);
  color: #fff;
  padding: 5px 10px;
  font-size: .8em;
  border-radius: 3px;
  text-align: center;
  z-index: 999;
}
.description{
  position: absolute;
  left: 20px;
  top: 12em;
  width: 220px;
  text-align: left;
  z-index: 999;
  h3{
    font-size: 1.5em;
    font-weight: 600;
  }
}
.hidden{
  display: none;
}
.spotlight{
  background-color: $body-color;
  margin-top: 4.5em;
  position: relative;
  z-index: 9;
}
.mapSupport{
  z-index: 9999;
}
