.legend {
    position: absolute;
    left: 20px;
    top: 33em;
    margin: 0;
    padding: 0;
    z-index: 999;
}
.legend li {
    list-style: none;
    padding: 3px;
    margin: 0;
    font-size: .75em;
    text-align: center;
}
